.sdg_container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 0 ;
    padding:0;
  }
  .sdg_card{
    margin : 15px 15px 0px 15px;
    width: calc(100vw / 2 - 40px);
    height: calc(100vw / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  
    /*background */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background image is define with the style balise of the object*/
    border-width: 1.5px;
    border-style: solid;
    /*border color is define with with the style balise of the object**/
  }

  .sdg_card:nth-child(even){
    width: calc(100vw / 2 - 40px);
    height: calc(100vw / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  
    /*background */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background image is define with the style balise of the object*/
    border-width: 1.5px;
    border-style: solid;
    /*border color is define with with the style balise of the object**/
  }
  
  img{
    width: 28vw;
    height: 28vw;
  }

  /*---------- COSE GENERICHE ---------*/
  h1{
    font-family:'Viga', sans-serif;
    font-size: 24px;
  }
  
  body{
    font-family: 'Inter',sans-serif ;
    font-size: 13px;
    margin:0;
    padding:0;
  }

  @media (min-width: 1250px) {
    .sdg_card:nth-child(even){
      margin-top:15px;

      width: calc(100vw / 7 - 30px);
      height: calc(100vw / 7);
    }
  
    .sdg_card{
        width: calc(100vw / 7 - 30px);
        height: calc(100vw / 7);
    }
    
    .sdg_container{
      justify-content: flex-start;
      padding:5% 0 ;
      margin-left: 8.5vw;
      background-image: url(../images/medias/bubble/kiosk_home_bubble_top.svg);
      background-repeat: no-repeat;
      background-size: 40%;
      background-position: right -2%;
      margin-top: 12vh;
    }
  
    /* add the mascot */
    .sdg_container::after{
      content :"";
      background-image: url(../images/medias/Mascotte.svg), url(../images/medias/bubble/kiosk_home_bubble_bottom.svg);
      background-repeat: no-repeat;
      background-position: right bottom, 5vw bottom;
      background-size: auto, 40%;
      width: 100vw;
      height: calc(100vw / 5);
      padding: 0;
      position : absolute;
      bottom :0;
      right : 0;
      z-index: -1;
    }
  
    img {
        width: 8vw;
        height: 8vw;
    }

  }
  

  