main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 5vw 70vw 25vw;
    grid-template-areas: "Menu Sdg Action";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50%;
  }
  
  main::after {
    content: "";
    width: 20vw;
    height: 25vh;
    padding: 0;
    position: fixed;/**/
    bottom: 0;
    right: 0;
  
    /*** COLOR BUBBLE *****/
    -webkit-mask-image: url(../images/medias/bubble/kiosk_bubble_bottom.svg);
    mask-image: url(../images/medias/bubble/kiosk_bubble_bottom.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
  
    /*** LINE BUBBLE *****/
    background-image: url(../images/medias/bubble/kiosk_bubble_bottom_line.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  p,
  span {
    font-size: 24px;
  }
  
  span {
    font-weight: bold;
    margin-bottom : 1%;
  }
  
  .kiosk-desc{
    display: flex;
    flex-direction: column;
    width : 80%;
    margin : 0 auto 1% auto;
    box-sizing: border-box;
  }
  .sdg-container {
    grid-area: Sdg;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
  }
  
  .sdg-item {
    width: 80%;
    margin: 8% auto 0 auto;
    height: 30vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items:end;
    box-sizing: border-box;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .sdg-item p {
    color : white;
    font-size : 14px;
    margin : 0 1% 1% 0;
  }
  
  .actions {
    grid-area: Action;
    background-color: #F0EDE8;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    /* add sgd border */
    border-left: 5px solid;
    border-image-source:url(../images/medias/SGD_lineVertical.svg);
    border-image-slice:5;
    border-image-repeat: stretch;
    border-top: none;
  
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100%;
  
    padding: 2%;
  }

/* Visualizzazione mobile */
@media (max-width: 768px) {
  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
  main {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: auto;
      grid-template-columns: none;
      grid-template-areas: none;
      overflow-y: auto;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  .sdg-container, .actions {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
.actions{
    /* SDG_line */
    border-top : 5px solid;
    border-image-source:url(../images/medias/SGD_line.svg);
    border-image-slice:5;
    border-image-repeat: stretch;
    
    /* box-shadow : X Y blur Spreat Color */
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.15);
  }
  .sdg-item {
      width: 100%;
      height: auto;
      margin: 5% auto;
  }

  .keyCard_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  .actionList{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-items: center;
    padding-bottom: 5%;
  }

  .keyCard_container button {
    width: auto;
    margin: 10px 0;
    box-sizing: border-box;
  }

  .sdgNumber {
      width: 90%;
      height: auto;
      margin: 10px 0;
  }

  .actions {
      padding: 5%;
      width: 100%;
      box-sizing: border-box;
  }

  .actions h2, .actions p {
      text-align: center;
  }

  .keyNumber_container {
      flex-direction: column;
      width: 100%;
  }

  .test {
      width: 100%;
      height: auto;
      left: 0;
      box-sizing: border-box;
  }

  li {
      width: auto;
      margin: 10px auto;
      font-size: 11px;
      box-sizing: border-box;
  }

  ul {
      padding-left: 0;
      width: 100%;
      box-sizing: border-box;
  }

  li::before {
      display: none;
  }
  /* Ridurre le dimensioni del testo sui dispositivi mobili */
  h1 {
    font-size: 30px;
}
h2 {
    font-size: 20px;
}
p {
    font-size: 11px;
}
}
