.sdg_card{
    width: calc(100vw / 2 - 40px);
    height: calc(100vw / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  
    /*background */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background image is define with the style balise of the object*/
    border-width: 1.5px;
    border-style: solid;
    /*border color is define with with the style balise of the object**/
  }
  
  img {
    width: 28vw;
    height: 28vw;
  }
  
  
  @media (min-width: 1250px) {
    .sdg_card{
      width: calc(100vw / 7 - 30px);
      height: calc(100vw / 7);
    }
  
    img {
    width: 8vw;
    height: 8vw;
  }
  
  }